{
	"Description": "Create AFW main instance ELB",
	"Parameters": {
		"Environment": {
			"Description": "Environment abbreviation used to name the ELB, typical values are: dev, cert, prod, but this is free format.",
			"MinLength": "1",
			"Type": "String",
			"Default":"ScopusLoad"
		},

		"HTTPPort": {
			"Description": "The port that app will listen for HTTP requests.",
			"Type": "String",
			"MinLength": "1",
			"Default": "4200"
		},

        "ELBSecurityGroupId": {
            "Description": "The security group for the ELB",
            "Type": "String",
            "Default": "sg-4db9fe28"
        },

        "PublicSubnets": {
            "Description": "Subnet IDs for ELBs",
            "Type": "CommaDelimitedList",
            "Default": "subnet-1ee23169,subnet-566dd033,subnet-4fe81816"
        }

	},
	"Resources": {
		"ElasticLoadBalancer": {
			"Type": "AWS::ElasticLoadBalancing::LoadBalancer",
			"Properties": {
                "SecurityGroups": [
                    { "Ref": "ELBSecurityGroupId" }
                ],
                "CrossZone": "true",
                "Subnets": { "Ref": "PublicSubnets" },
				"LoadBalancerName": {
					"Fn::Join": ["-",
					["SDFE-Se",
					{
						"Ref": "Environment"
					},
					"elb"]]
				},
				"Listeners": [{
					"LoadBalancerPort": "80",
					"InstancePort": {
						"Ref": "HTTPPort"
					},
					"Protocol": "HTTP"
				}],
				"HealthCheck": {
					"Target": {
						"Fn::Join": ["", ["TCP:", { "Ref": "HTTPPort" }]]
					},
					"HealthyThreshold": "5",
					"UnhealthyThreshold": "2",
					"Interval": "6",
					"Timeout": "2"
				},
				"ConnectionDrainingPolicy": {
					"Enabled": "true",
					"Timeout": "180"
				}
			}
		}
	},
	"Outputs": {
		"ELBEndpoint": {
			"Description": "URL of the ELB",
			"Value": {
				"Fn::GetAtt": ["ElasticLoadBalancer",
				"DNSName"]
			}
		}
	}
}